<?xml version="1.0" encoding="UTF-8"?>
<plugin title="Pentaho Data Inspector">

  <lifecycle-listener class="org.pentaho.pedis.PedisLifecycleListener" />

  <content-generator
    id="pedis"
    type="pedis"
    title="Pedis Handler"
    class="org.pentaho.pedis.PedisContentGenerator"
  />

  <static-paths>
    <static-path url="/pedis/resources/js" localFolder="resources/js" />
    <static-path url="/pedis/resources/html" localFolder="resources/html" />
  </static-paths>

<!--
  <external-resources>
    <file context="requirejs">content/pedis/resources/js/pedis-require-js-cfg.js</file>
  </external-resources>
-->

</plugin>

